<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mamun.csl.basicaccounting" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChartOfAccountInputForm"
            android:label="@string/title_activity_chart_of_account_input_form" >
        </activity>
        <activity
            android:name=".ChartOfAccount"
            android:label="@string/title_activity_chart_of_account" >
        </activity>
        <activity
            android:name=".ChartOfAccountUpdate"
            android:label="@string/title_activity_chart_of_account_update" >
        </activity>
    </application>

</manifest>
