<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudsolutionltd.cslMobileAccounts">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--
        activity
            android:name=".Activity.BasicAccounting"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity
        -->

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.BasicAccounting"
            android:label="@string/app_name"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.ChartOfAccountInputForm"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_chart_of_account_input_form"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.ChartOfAccount"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_chart_of_account" />
        <activity
            android:name=".Activity.ChartOfAccountUpdate"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_chart_of_account_update"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.VoucherEntry"
            android:label="@string/title_activity_voucher_entry"
            android:parentActivityName=".Activity.BasicAccounting"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.LedgerReport"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_ledger_report"
            android:parentActivityName=".Activity.BasicAccounting">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cloudsolutionltd.cslMobileAccounts.Activity.BasicAccounting" />
        </activity>
        <activity
            android:name=".Activity.AllTransaction"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_all_transaction"
            android:parentActivityName=".Activity.BasicAccounting" />
        <activity
            android:name=".Activity.TransactionDetails"
            android:label="@string/title_activity_transaction_details"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.IncomeExpenseStatement"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_income_expense"
            android:parentActivityName=".Activity.BasicAccounting" />
        <activity
            android:name=".Activity.ProfitLoss"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_profit_loss"
            android:parentActivityName=".Activity.BasicAccounting" />
        <activity
            android:name=".Activity.BalanceSheet"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_Balance_sheet"
            android:parentActivityName=".Activity.BasicAccounting" />
        <activity
            android:name=".Activity.Help"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_help" />
        <activity android:name=".Activity.LogInActivity"></activity>
    </application>

</manifest>
